<launch>
    <arg name="ns"              default="jackal_0" />
    <arg name="global_ekf"      default="false" />
    <arg name="x"               default="0"/>
    <arg name="y"               default="0"/>
    <arg name="z"               default="0"/>
    <arg name="roll"            default="0"/>
    <arg name="pitch"           default="0"/>
    <arg name="yaw"             default="0"/>

    <!-- EKF localization node. Takes IMU and wheel odometry to form a single
        localization estimate. This is the local filter providing the TF:
        ODOM -> BASE_LINK  -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" ns="$(arg ns)" >
        <rosparam   command="load"              file="$(find srd_pkg)/jackal/params/ekf/local_ekf.yaml" />
        <param      name="map_frame"            value="map" />
        <param      name="odom_frame"           value="$(arg ns)/odom" />
        <param      name="base_link_frame"      value="$(arg ns)/base_link" />
        <param      name="world_frame"          value="$(arg ns)/odom" />
        <remap      from="odometry/filtered"    to="odometry/local_filtered" />
    </node>


    <!-- Robot localisation, takes GPS signals and fuses them with local odometry
       to form a single localisation estimate. This is the global filter,
       providing the TF:
       MAP -> ODOM 
       This TF is already provided by AMCL node! -->  
    <group if="$(arg global_ekf)" >

        <!-- Navsat node -->
        <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" ns="$(arg ns)" output="screen" >
            <param name="delay"                         value="5.0"/>
            <param name="yaw_offset"                    value="1.5707963"/>
            <param name="magnetic_declination_radians"  value="0.13759"/>
            <param name="zero_altitude"                 value="true"/>
            <param name="broadcast_utm_transform"       value="true"/>
            <remap from="odometry/filtered"             to="odometry/global_filtered"/>
            <remap from="gps/fix"                       to="navsat/fix"/>
        </node>

        <!-- Global EKF node -->
        <node pkg="robot_localization" type="ekf_localization_node" name="global_ekf_localization" ns="$(arg ns)">
            <rosparam   command="load"              file="$(find srd_pkg)/jackal/params/ekf/global_ekf.yaml"/>
            <rosparam   param="initial_state"       subst_value="true">
                    [   $(arg x),      $(arg y),    $(arg z),
                     $(arg roll),  $(arg pitch),  $(arg yaw),
                             0.0,           0.0,         0.0,
                             0.0,           0.0,         0.0,
                             0.0,           0.0,         0.0]
            </rosparam>
            <param      name="map_frame"            value="map"/>
            <param      name="odom_frame"           value="$(arg ns)/odom"/>
            <param      name="base_link_frame"      value="$(arg ns)/base_link"/>
            <param      name="world_frame"          value="map"/>
            <remap      from="odometry/filtered"    to="odometry/global_filtered"/>
        </node>

    </group>
</launch>