<launch>
    <arg name="ns"              default="jackal_0" />
    <arg name="config"          default="base" />
    <arg name="init_pose"       default="-x 0 -y 0 -Y 0" />
    <arg name="twist_marker"    default="true" />   
    <arg name="amcl"            default="true" />
    <arg name="global_ekf"      default="false" />
    <arg name="move_base"       default="false" />

    <!-- Launch Jackal controller -->
    <include file="$(find srd_pkg)/jackal/jackal_control/launch/control.launch" >
        <arg name="ns"              value="$(arg ns)" />
        <arg name="twist_marker"    value="$(arg twist_marker)" />
        <arg name="global_ekf"      value="$(arg global_ekf)" />
    </include>

    <!-- Load Jackal robot description from URDF and launch the robot state publisher node -->
    <include file="$(find srd_pkg)/jackal/jackal_description/launch/jackal_description.launch" >
        <arg name="config"      value="$(arg config)" />
        <arg name="ns"          value="$(arg ns)" />
    </include>
    
    <!-- AMCL node -->
    <group if="$(arg amcl)">
        <include file="$(find srd_pkg)/jackal/jackal_navigation/launch/include/amcl.launch" >
        <arg name="ns"  value="$(arg ns)" />
        </include>
    </group>

    <!-- Move base node -->
    <group if="$(arg move_base)" >
        <include file="$(find srd_pkg)/jackal/jackal_navigation/launch/move_base.launch" >
            <arg name="ns" value="$(arg ns)" />
        </include>
    </group>

    <!-- Spawn Jackal in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" ns="$(arg ns)"
          args="-urdf -model $(arg ns) -param /$(arg ns)/robot_description $(arg init_pose) -z 1" />
</launch>