<launch>
    <arg name="ns"              default="jackal_0" />
    <arg name="twist_marker"    default="true" />
    <arg name="global_ekf"      default="false" />
    
    <rosparam   command="load" 
                file="$(find srd_pkg)/jackal/params/control/control.yaml" 
                ns="$(arg ns)" />

    <param name="$(arg ns)/jackal_velocity_controller/odom_frame_id" value="$(arg ns)/odom" />
    <param name="$(arg ns)/jackal_velocity_controller/base_frame_id" value="$(arg ns)/base_link" />
  
    <node   name="controller_spawner" pkg="controller_manager" type="spawner"
            args="jackal_joint_publisher jackal_velocity_controller" ns="$(arg ns)" />
    
    <!-- Navigation node -->
    <include file="$(find srd_pkg)/jackal/jackal_navigation/launch/jackal_nav.launch" >
        <arg name="ns"          value="$(arg ns)" />
        <arg name="global_ekf"  value="$(arg global_ekf)" />
    </include>
    
    <!-- Multiplex to handle different cmd_vel input -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" ns="$(arg ns)" >
        <rosparam command="load" file="$(find srd_pkg)/jackal/params/control/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="jackal_velocity_controller/cmd_vel" />
    </node>
    
    <!-- Create a control marker for manual control using RVIZ. -->
    <group if="$(arg twist_marker)" >
        <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" ns="$(arg ns)" >
            <param name="link_name" value="$(arg ns)/base_link" />
        </node> 
    </group>

</launch>
