<launch>
    <!-- Gazebo parameters -->
    <arg name="use_sim_time"    default="true" />
    <arg name="gui"             default="true" />
    <arg name="headless"        default="false" />
    <arg name="world_name"      default="$(find srd_pkg)/worlds/office.world" />
    <arg name="debug"           default="false" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug"           value="$(arg debug)" />
        <arg name="gui"             value="$(arg gui)" />
        <arg name="use_sim_time"    value="$(arg use_sim_time)" />
        <arg name="headless"        value="$(arg headless)" />
        <arg name="world_name"      value="$(arg world_name)" />
    </include>

    <!-- Defaul configuration of Jackal with front laser -->
    <arg name="config"      default="front_laser" />
    
    <!-- Load Jackal's urdf files -->
    <param  name="robot_description" 
            command="$(find srd_pkg)/jackal/jackal_description/scripts/env_run
                    $(find srd_pkg)/jackal/jackal_description/urdf/configs/$(arg config)
                    $(find xacro)/xacro --inorder $(find srd_pkg)/jackal/jackal_description/urdf/jackal.urdf.xacro" />

    <!-- Jackal spawn pose -->
    <arg name="x"       default="-11" />
    <arg name="y"       default="0" />
    <arg name="z"       default="1" />
    <arg name="yaw"     default="0" />

    <!-- Load Jackal's controller node-->
    <include file="$(find srd_pkg)/jackal/jackal_control/launch/control.launch" />

    <!-- Spawn Jackal in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model jackal -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />

    <!-- Jackal's state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Load Jackal's interactive marker node -->
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
        <param name="link_name" value="base_link" />
    </node>

</launch>