<launch>
    <!-- Gazebo parameters -->
    <arg name="use_sim_time"    default="true" />
    <arg name="gui"             default="true" />
    <arg name="headless"        default="false" />
    <arg name="world_name"      default="$(find srd_pkg)/worlds/office.world" />
    <arg name="debug"           default="false" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug"           value="$(arg debug)" />
        <arg name="gui"             value="$(arg gui)" />
        <arg name="use_sim_time"    value="$(arg use_sim_time)" />
        <arg name="headless"        value="$(arg headless)" />
        <arg name="world_name"      value="$(arg world_name)" />
    </include>

    <!-- Jackal spawn pose -->
    <arg name="x"       default="-11" />
    <arg name="y"       default="0" />
    <arg name="z"       default="1" />
    <arg name="yaw"     default="0" />
    
    <!-- Configuration of Jackal with front laser -->
    <arg name="config"      default="front_laser" />

    <!-- Optionally enable teleop for the simulation -->
    <arg name="joystick"    default="false" />

    <!-- Load Jackal's description -->
    <include file="$(find srd_pkg)/jackal/jackal_description/launch/description.launch">
        <arg name="config" value="$(arg config)" />
    </include>

    <!-- Load Jackal's controller node-->
    <include file="$(find srd_pkg)/jackal/jackal_control/launch/control.launch" />

    <!-- Load Jackal's interactive marker node -->
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
        <param name="link_name" value="base_link" />
    </node>
    
    <arg name="env_runner" value="$(eval 'env_run' if not optenv('OS', 'unknown').lower().startswith('windows') else 'env_run.bat')" />

    <!-- Spawn Jackal -->
    <param name="robot_description" 
           command="$(find srd_pkg)/jackal/jackal_description/scripts/$(arg env_runner)
                    $(find srd_pkg)/jackal/jackal_description/urdf/configs/$(arg config)
                    $(find xacro)/xacro --inorder $(find srd_pkg)/jackal/jackal_description/urdf/jackal.urdf.xacro" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model jackal -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)" />

</launch>