<launch>
    <arg name="ns"              default="jackal_1" />
    <arg name="map_file"        default="$(find srd_pkg)/maps/cafe_map.yaml" />
    <arg name="use_map_topic"   default="false" />

    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_file)"/>

    <include file="$(find srd_pkg)/jackal/jackal_navigation/launch/include/amcl.launch" >
      <arg name="ns"  value="$(arg ns)" />
    </include>

</launch>